aioaria2
aiofiles
aiohttp
aioshutil
aioqbt
anytree
apscheduler
aria2p
asyncio
bs4
cloudscraper
dnspython
electrogram
fastapi
feedparser
flask
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
gtts
httpx
html_telegraph_poster
jinja2
langcodes
lxml
mega
motor
natsort
pillow
psutil
pycryptodome
pyrofork==2.2.11
pymongo
pyshorteners
python-dotenv
python-magic
pytdbot[tdjson]
qbittorrent-api
requests
speedtest-cli
telegraph
tenacity
urllib3
uvicorn
uvloop
waybackpy
xattr
yt-dlp[default,curl-cffi]
heroku3
pytz
